<a href="https://colab.research.google.com/github/nurfnick/SMaRT2023/blob/main/Code/LoadingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pa

data = pa.read_csv('https://data.cdc.gov/api/views/jr58-6ysp/rows.csv')

data.head()

,usa_or_hhsregion,week_ending,variant,share,share_hi,share_lo,nchs_or_count_flag,modeltype,time_interval,published_date
0,USA,05/08/2021 12:00:00 AM,B.1.1.529,0.000000,NaN,NaN,1.0,weighted,weekly,03/31/2023 12:00:00 AM
1,USA,05/08/2021 12:00:00 AM,B.1.617.2,0.017526,0.021864,0.01385,0.0,weighted,weekly,03/31/2023 12:00:00 AM
2,USA,05/08/2021 12:00:00 AM,BA.1.1,0.000000,NaN,NaN,1.0,weighted,weekly,03/31/2023 12:00:00 AM
3,USA,05/08/2021 12:00:00 AM,BA.2,0.000000,NaN,NaN,1.0,weighted,weekly,03/31/2023 12:00:00 AM
4,USA,05/08/2021 12:00:00 AM,BA.2.12.1,0.000000,NaN,NaN,1.0,weighted,weekly,03/31/2023 12:00:00 AM

In [15]:
data.size/10

895799.0